# Виртуальные окружения
.venv/
venv/
env/
ENV/

# Файл с секретами (!!!)
.env

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Папки IDE
.idea/
.vscode/

# Файлы операционной системы
.DS_Store
Thumbs.db

# Артефакты сборки/установки
*.egg-info/
dist/
build/
wheels/
pip-wheel-metadata/

# Логи
*.log

# Другое (добавь по необходимости)
# например, папка с загруженными файлами, если она есть
# uploads/